*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;

}

/* navbar Style */
.navbar {
  background-color: #333;
  width: 100%;
  opacity: 0.75;
  transition: all 500ms ease;
  position: fixed;
  top: 0;
}

.navbar, .navright{
  display: flex;
  align-items: center;
}

.navright {
  margin-left: auto;
  align-items: center;
}

.navitem {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
}

.navitem a {
  text-decoration: none;
  color: #eee;
  transition: all 500ms ease;
}

.navname {
  color: #eee;
  text-align: right;
}

.hexcontainer {
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("img/Chimbasq.jpg");
  background-size: 45px 45px;
}

.hextop, .hextop-sm {
  width: 0;
  border-style: solid;
  border-color: #333 #333 transparent #333;
}

.hexmiddle, .hexmiddle-sm {
  background-color: transparent;
}

.hexbottom, .hexbottom-sm {
  width: 0;
  border-style: solid;
  border-color: transparent #333 #333 #333;
}

.hextop {
  border-bottom-width: 10px;
  border-left-width: 20px;
  border-right-width: 20px;
}

.hexmiddle {
  width: 40px;
  height: 25px;
}

.hexbottom {
  border-top-width: 10px;
  border-left-width: 20px;
  border-right-width: 20px;
}

.hexmiddle-sm {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hextop-sm {
  border-bottom-width: 5px;
  border-left-width: 15px;
  border-right-width: 15px;
}

.hexbottom-sm {
  border-top-width: 5px;
  border-left-width: 15px;
  border-right-width: 15px;
}

.navitem:hover {
  background-color: #fff;
}

.navitem:hover a {
  color: #9326C0;
}

.navbar:hover {
  opacity: 1;
}

/* general Page Container */
.pagecontainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%
}

.idpanel, .mainpanel, .contactpanel {
  flex: 1 100%;
  padding: 20px;
}

.idpanel {
  padding-top: 45px;
  background-image: url("img/carbon1.jpg");
}

.idpanel h1, .idpanel span {
  color: #ddd;
}

.idpanel span {
  font-size: 1.05em;
}

.iddescription {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.idimage {
  margin: 20px;
  width: 200px;
  height: 200px;
  background-image: url("img/horns.jpg");
  background-size: 200px 200px;
  border-radius: 50%;
}

@media all and (min-width: 1280px) {
  .iddescription {
    position: fixed;
    left: 2.5%;
    width: 20%;
  }
  .idimage {}
  .idpanel, .contactpanel {flex: 1 0px;}
  .pagecontainer {align-items: stretch;}
  .mainpanel {flex: 2 0px;}
  .idpanel, .mainpanel, .contactpanel {padding-top: 45px}
}
